<<<<<<< HEAD
//
// Input Group
// --------------------------------------------------

.input-group-text.input-group-text-alt {
    background-color: $body-bg-dark;
    border-color: $body-bg-dark;
}
=======
//
// Input Group
// --------------------------------------------------

.input-group-text.input-group-text-alt {
    background-color: $body-bg-dark;
    border-color: $body-bg-dark;
}
>>>>>>> 7d1a9c172eef389cf4f054448f50f53dc0cc1bbb
