<<<<<<< HEAD
//
// Pagination
// --------------------------------------------------

.page-link {
    margin-right: .25rem;
    font-weight: $font-weight-bold;
    border-width: 0 0 $pagination-border-width 0;
    border-radius: 0 !important;

    &:focus {
        background-color: $body-bg;
    }
=======
//
// Pagination
// --------------------------------------------------

.page-link {
    margin-right: .25rem;
    font-weight: $font-weight-bold;
    border-width: 0 0 $pagination-border-width 0;
    border-radius: 0 !important;

    &:focus {
        background-color: $body-bg;
    }
>>>>>>> 7d1a9c172eef389cf4f054448f50f53dc0cc1bbb
}