<<<<<<< HEAD
//
// Display
// --------------------------------------------------

.overflow-y-auto {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.opacity-0 { opacity: 0; }
.opacity-25 { opacity: .25; }
.opacity-50 { opacity: .50; }
.opacity-75 { opacity: .75; }
.opacity-1 { opacity: 1; }
=======
//
// Display
// --------------------------------------------------

.overflow-y-auto {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.opacity-0 { opacity: 0; }
.opacity-25 { opacity: .25; }
.opacity-50 { opacity: .50; }
.opacity-75 { opacity: .75; }
.opacity-1 { opacity: 1; }
>>>>>>> 7d1a9c172eef389cf4f054448f50f53dc0cc1bbb
